{{#let
  (classnames
    "wds-button"
    (if @secondary "wds-is-secondary")
    (if @text "wds-is-text")
    (if @square "wds-is-square")
    (if @disabled "wds-is-disabled")
    (if @light "wds-is-light")
  )
as |buttonClasses|
}}
  {{#if @href}}
    <a
      class={{buttonClasses}}
      href={{@href}}
      ...attributes
      {{action (optional @onClick) preventDefault=false}}
    >
      {{yield}}
    </a>
  {{else}}
    <button
      class={{buttonClasses}}
      disabled={{@disabled}}
      ...attributes
      {{action (optional @onClick)}}
    >
      {{yield}}
    </button>
  {{/if}}
{{/let}}
