<div class="wds-dialog__curtain" {{action onCancel "curtain"}}>
	<div class="wds-dialog__wrapper" {{action "cancelBubble" bubbles=false}}>
		{{#if title}}<div class="wds-dialog__title">{{title}}</div>{{/if}}
		<div class="wds-dialog__content">{{yield}}</div>
		<div class="wds-dialog__actions">
			{{#wds-button classNames="wds-dialog__actions-button" click=(action onCancel "button") text=true}}
				{{cancelText}}
			{{/wds-button}}
			{{#wds-button classNames="wds-dialog__actions-button" click=(action onOK) text=true}}
				{{okText}}
			{{/wds-button}}
		</div>
	</div>
</div>
