<div class="wds-global-navigation__content-container">
	<div class="wds-global-navigation__content-bar-left">
		<a href="{{model.logo.href}}" class="wds-global-navigation__logo" data-tracking-label="{{model.logo.tracking-label}}">
			{{! available class names: wds-is-wds-company-logo-fandom wds-is-wds-company-logo-wikia-org}}
			{{svg
				model.logo.image-data.name
				class=(concat 'wds-global-navigation__logo-image wds-is-' model.logo.image-data.name)
			}}
		</a>
		{{wds-global-navigation/main-navigation model=model.main-navigation}}
	</div>
	<div class="wds-global-navigation__content-bar-right">
		<div class="wds-global-navigation__community-bar">
			{{svg 'wds-company-logo-fandom-heart' class='wds-global-navigation__logo-heart'}}
			<div class="wds-global-navigation__community-bar-separator"></div>
			<div class="wds-community-bar__sitename">
				{{sitename}}
			</div>
		</div>
		<div class="wds-global-navigation__dropdown-controls">
			{{wds-global-navigation/search
				model=model.search
				onSearchToggleClicked=(action 'onSearchToggleClicked')
				onSearchCloseClicked=(action 'onSearchCloseClicked')
				onSearchSuggestionChosen=(action 'onSearchSuggestionChosen')
				goToSearchResults=(action 'goToSearchResults')
			}}
			{{#if model.user}}
				{{wds-global-navigation/user model=model.user}}
			{{else if model.anon}}
				{{wds-global-navigation/anon model=model.anon}}
			{{/if}}
			{{#if model.user}}
				{{wds-on-site-notifications/notifications-dropdown track=track}}
			{{/if}}
			<div class="wds-global-navigation__start-a-wiki">
				{{wds-global-navigation/link-button
					model=model.create-wiki
					data-tracking-label=model.create-wiki.tracking-label
				}}
			</div>
		</div>
		<div class="wds-global-navigation__modal-controls">
			{{wds-global-navigation/search-modal
				model=model.search
				navigationModel=model.main-navigation
				isOpen=isSearchModalOpen
				openModal=(action openModal)
				onSearchToggleClicked=(action 'onSearchToggleClicked')
				onSearchSuggestionChosen=(action 'onSearchSuggestionChosen')
				goToSearchResults=(action 'goToSearchResults')
			}}

			{{#if model.user}}
				{{#wds-button
					click=(action openModal 'user')
					class='wds-global-navigation__modal-control wds-global-navigation__modal-control-user'
					text=true
					type='button'
				}}
					{{wds-avatar src=model.user.avatar_url alt=model.user.username}}
					{{#if wdsOnSiteNotifications.unreadCountWithLimit}}
						<span class="wds-global-navigation__avatar-notifications-counter">
							{{wdsOnSiteNotifications.unreadCountWithLimit}}
						</span>
					{{/if}}
				{{/wds-button}}
			{{else if model.anon}}
				{{#wds-button click=(action closeModal) class='wds-global-navigation__modal-control wds-global-navigation__modal-control-anon' text=true href='/signin'}}
					{{wds-avatar}}
				{{/wds-button}}
			{{/if}}

			{{wds-global-navigation/user-modal
				isOpen=isUserModalOpen
				user=model.user
				header=model.notifications.header.title.key
				track=track
			}}

			{{#wds-button click=(action closeModal) class='wds-global-navigation__modal-control wds-global-navigation__modal-control-close' text=true type='button'}}
				{{svg 'wds-icons-cross' class='wds-icon'}}
			{{/wds-button}}
		</div>
	</div>
	{{#if model.partner-slot}}
		<div class="wds-global-navigation__partner-slot">
			<div class="wds-global-navigation__partner-slot-horizontal-bar"></div>
			<a href="{{model.partner-slot.href}}" class="wds-global-navigation__partner-slot-link" data-tracking-label="{{model.partner_slot.tracking-label}}">
				<img class="wds-global-navigation__partner-slot-image"
					 width="55"
					 height="20"
					 src="{{model.partner-slot.image-data.url}}"
					 alt="{{model.partner-slot.title.value}}">
			</a>
		</div>
	{{/if}}
</div>
