<div class="wds-global-navigation__content-bar-left">
	{{log model}}
	<a href="{{model.logo.href}}" class="wds-global-navigation__logo">
		{{! available class names: wds-is-wds-company-logo-fandom wds-is-wds-company-logo-wikia-org}}
		{{svg model.logo.image-data.name class=(concat 'wds-global-navigation__logo-image wds-is-' model.logo.image-data.name)}}
	</a>
		{{wds-global-navigation/main-navigation model=model.main_navigation}}
</div>
<div class="wds-global-navigation__content-bar-right">
	{{!wds-global-navigation/search
		model=model.search.module
		activateSearch=(action 'activateSearch')
		deactivateSearch=(action 'deactivateSearch')
		onQueryChanged=(action 'onSearchQueryChanged')
	}}
	{{#if model.user}}
		{{wds-global-navigation/links
			dropdownRightAligned=true
			model=model.user
			type='user-menu'
		}}
	{{else if model.anon}}
		{{wds-global-navigation/account-navigation
			model=model.anon
		}}
	{{/if}}
	<div class="wds-global-navigation__start-a-wiki{{if model.user ' wds-user-is-logged-in'}}">
		{{#wds-button secondary=true href=model.create_wiki.header.href class="wds-global-navigation__start-a-wiki-button"}}
			{{i18n model.create_wiki.header.title.key ns='design-system'}}
		{{/wds-button}}
	</div>
</div>
{{#if model.partner_slot}}
	<div class="wds-global-navigation__partner-slot">
		<a href="{{model.partner_slot.href}}" class="wds-global-navigation__partner-slot-link">
			<img class="wds-global-navigation__partner-slot-image"
				 width="55"
				 height="20"
				 src="{{model.partner_slot.image-data.url}}"
				 alt="{{model.partner_slot.title.value}}">
		</a>
	</div>
{{/if}}

