<a href="{{model.href}}" class="wds-global-footer__link wds-is-{{model.brand}}" data-tracking-label="{{model.tracking_label}}">
	<div>{{i18n model.title.key ns='design-system'}}</div>
	{{svg 'wds-icons-arrow' class='wds-global-footer__image wds-icon'}}
</a>
