<Dropdown
  class="wds-global-navigation__user-menu wds-global-navigation__user-anon"
  hasShadow={{true}} as |dropdown|
>
  <dropdown.toggle as |Chevron|><Avatar /><Chevron /></dropdown.toggle>
  <dropdown.content
    class="wds-global-navigation__dropdown-content"
    @dropdownRightAligned={{true}}
  >
    <List @lines={{true}}>
      <li>
        <Button
          @href={{signinUrl}}
          class="wds-is-full-width"
          rel="nofollow"
          data-tracking-label={{model.signin.tracking-label}}
        >
          {{i18n model.signin.title.key ns="design-system"}}
        </Button>
      </li>
      <li>
        <div class="wds-global-navigation__user-menu-dropdown-caption">
          {{i18n
            "global-navigation-anon-register-description"
            ns="design-system"
          }}
        </div>
        <Button
          @secondary={{true}}
          @href={{registerUrl}}
          class="wds-is-full-width"
          rel="nofollow"
          data-tracking-label={{model.register.tracking-label}}
        >
          {{i18n model.register.title.key ns="design-system"}}
        </Button>
      </li>
    </List>
  </dropdown.content>
</Dropdown>
