<Button
  @onClick={{action openModal "search"}}
  @text={{true}}
  class="wds-global-navigation__modal-control wds-global-navigation__modal-control-search"
>
  <Icon @name="magnifying-glass" />
</Button>
{{#if isOpen}}
  <div class="wds-global-navigation__modal wds-search-modal">
    <div class="wds-search-modal__form-and-links-wrapper">
      {{global-navigation/search
        model=model
        showSearchScope=showSearchScope
        onSearchToggleClicked=(action onSearchToggleClicked)
        onSearchSuggestionChosen=(action onSearchSuggestionChosen)
        onSearchSuggestionsImpression=(action onSearchSuggestionsImpression)
        goToSearchResults=(action goToSearchResults)
        inSearchModal=true
        track=(action track)
      }}
      {{#unless isWikiaOrg}}
        {{global-navigation/main-navigation model=navigationModel}}
      {{/unless}}
    </div>
    {{#unless isWikiaOrg}}
      {{#if canShowContentRecommendations}}
        {{global-navigation/content-recommendations
          track=(action track)
          url=contentRecommendationsUrl
        }}
      {{/if}}
    {{/unless}}
  </div>
{{/if}}
