{{#wds-dropdown
	class='wds-global-navigation__account-menu'
	as |dropdown|
}}
	{{#dropdown.toggle class='wds-global-navigation__dropdown-toggle'}}
		{{!TODO: use wds-avatar here}}
		{{svg "wds-icons-user" class='wds-icon wds-icon-small'}}
	{{/dropdown.toggle}}
	{{#dropdown.content
		class='wds-global-navigation__dropdown-content'
		dropdownRightAligned=true
	}}
		{{#wds-list lines=true}}
				<li>
					<a href="{{model.signin.href}}" rel="nofollow" class="wds-button wds-is-full-width">{{i18n model.signin.title.key ns='design-system'}}</a>
					{{wds-global-navigation/link-authentication
						model=link
					}}
				</li>
				<li>
					<a href="{{model.register.href}}" rel="nofollow" class="wds-button wds-is-full-width wds-is-secondary">{{i18n model.register.title.key ns='design-system'}}</a>
					{{wds-global-navigation/link-authentication
						model=link
					}}
				</li>
		{{/wds-list}}
	{{/dropdown.content}}
{{/wds-dropdown}}
