{{#wds-list}}
	{{#each navigation as |parentRoute|}}
		<li>
			<input type="checkbox" id="{{parentRoute.id}}" class="main-navigation__toggle" checked={{if parentRoute.expanded 'checked'}}>
			<label for="{{parentRoute.id}}"><strong>{{parentRoute.name}}</strong> {{wds-icon name='menu-control-tiny' class='wds-icon-tiny'}}</label>
			{{#wds-list class='wds-is-linked'}}
				{{#each parentRoute.items as |route|}}
					<li>{{#link-to route.location}}{{route.name}}{{/link-to}}</li>
				{{/each}}
			{{/wds-list}}
		</li>
	{{/each}}
{{/wds-list}}
