<p>
	In order to use Design System Colors, you need to import /base/_color.scss partial.
	To use one of below colors, instead of color's hex representation apply suitable scss variable.
</p>

<section>
	<h2>Fandom Corporate Colors</h2>

	{{rp-color-box hex='#94d11f' name='Games' variable='$color-games'}}
	{{rp-color-box hex='#09d3bf' name='Movies' variable='$color-movies'}}
	{{rp-color-box hex='#00b7e0' name='TV' variable='$color-tv'}}
	{{rp-color-box hex='#39424d' name='Dark Blue Gray' variable='$color-dark-blue-gray'}}
	{{rp-color-box hex='#656e78' name='Medium Gray' variable='$color-slate-gray'}}
	{{rp-color-box hex='#c5ced9' name='Blue Gray' variable='$color-blue-gray'}}
	{{rp-color-box hex='#f6f6f6' name='Off-White 96%' variable='$color-off-white'}}
	{{rp-color-box hex='#00b7e0' name='Link' variable='$color-link'}}
</section>

<section>
	<h2>Wikia Corporate Colors</h2>

	{{rp-color-box hex='#092344' name='Dark Blue' variable='$color-dark-blue'}}
	{{rp-color-box hex='#1a5eb8' name='Light Blue' variable='$color-light-blue'}}
	{{rp-color-box hex='#39424d' name='Dark Blue Gray' variable='$color-dark-blue-gray'}}
	{{rp-color-box hex='#656e78' name='Medium Gray' variable='$color-slate-gray'}}
	{{rp-color-box hex='#c5ced9' name='Blue Gray' variable='$color-blue-gray'}}
	{{rp-color-box hex='#e6ebf2' name='Light Blue Gray' variable='$color-light-blue-gray'}}
	{{rp-color-box hex='#f2f6fa' name='Gray' variable='$color-faint-blue-gray'}}
	{{rp-color-box hex='#fff' name='White' variable='$color-white'}}
</section>

<section>
	<h2>Verticals Colors</h2>

	{{rp-color-box hex='#ff5400' name='Comics' variable='$color-comics'}}
	{{rp-color-box hex='#94d11f' name='Games' variable='$color-games'}}
	{{rp-color-box hex='#ff7f26' name='Books' variable='$color-books'}}
	{{rp-color-box hex='#09d3bf' name='Movies' variable='$color-movies'}}
	{{rp-color-box hex='#ffd000' name='Lifestyle' variable='$color-lifestyle'}}
	{{rp-color-box hex='#c819ad' name='Music' variable='$color-music'}}
	{{rp-color-box hex='#00b7e0' name='TV' variable='$color-tv'}}
</section>

<section>
	<h2>Light Theme</h2>

	{{rp-color-box hex='#fff' name='White 100%' variable='$color-light-c1'}}
	{{rp-color-box hex='#f6f6f6' name='Off-White 96%' variable='$color-light-c2'}}
	{{rp-color-box hex='#e6e6e6' name='Mist Gray 90%' variable='$color-light-c3'}}
	{{rp-color-box hex='#ccc' name='Faint Gray 80%' variable='$color-light-c4'}}
	{{rp-color-box hex='#999' name='Light Gray 60%' variable='$color-light-c5'}}
	{{rp-color-box hex='#333' name='Dark Gray 20%' variable='$color-light-c6'}}
	{{rp-color-box hex='#666' name='Medium Gray 40%' variable='$color-light-c7'}}
	{{rp-color-box hex='#e3bd00' name='Gold' variable='$color-light-c8'}}
</section>

<section>
	<h2>Dark Theme</h2>

	{{rp-color-box hex='#262626' name='Dark Gray 15%' variable='$color-dark-c1'}}
	{{rp-color-box hex='#1a1a1a' name='Dark Gray 10%' variable='$color-dark-c2'}}
	{{rp-color-box hex='#333' name='Dark Gray 20%' variable='$color-dark-c3'}}
	{{rp-color-box hex='#666' name='Medium Gray 40%' variable='$color-dark-c4'}}
	{{rp-color-box hex='#999' name='Ligt Gray 60%' variable='$color-dark-c5'}}
	{{rp-color-box hex='#ccc' name='Faint Gray 80%' variable='$color-dark-c6'}}
	{{rp-color-box hex='#fff' name='White 100%' variable='$color-dark-c7'}}
	{{rp-color-box hex='#e3bd00' name='Gold' variable='$color-dark-c8'}}
</section>

<section>
	<h2>Alerts</h2>

	{{rp-color-box hex='#ed1c24' name='Alert/Delete' variable='$color-alert'}}
	{{rp-color-box hex='#f08a24' name='Warning/Reported' variable='$color-warning'}}
	{{rp-color-box hex='#5ba200' name='Success/Approve' variable='$color-success'}}
	{{rp-color-box hex='#1a5eb8' name='Message' variable='$color-message'}}
</section>
