<h1>Typography</h1>
<p>Helvetica Neue — This typeface, designed by Max Miedinger and other project members at the Haas'sche Schriftgiesserei, has become one of the most famous and popular typefaces in the world, thanks to the marketing strategy of Stempel and Linotype.</p>

<h2>Font Family</h2>
<code>'San Francisco', 'Helvetica Neue', 'Roboto', 'Segoe UI', 'Ubuntu', 'Droid Sans', sans-serif;</code>

<h2>Typescale</h2>

{{typescale-line fontSize=54 typescaleName='typescale-size-plus-7'}}
{{typescale-line fontSize=48 typescaleName='typescale-size-plus-6'}}
{{typescale-line fontSize=40 typescaleName='typescale-size-plus-5'}}
{{typescale-line fontSize=36 typescaleName='typescale-size-plus-4'}}
{{typescale-line fontSize=28 typescaleName='typescale-size-plus-3'}}
{{typescale-line fontSize=24 typescaleName='typescale-size-plus-2'}}
{{typescale-line fontSize=18 typescaleName='typescale-size-plus-1'}}
{{typescale-line fontSize=16 typescaleName='typescale-size-base'}}
{{typescale-line fontSize=14 typescaleName='typescale-size-minus-1'}}
{{typescale-line fontSize=12 typescaleName='typescale-size-minus-2'}}
{{typescale-line fontSize=10 typescaleName='typescale-size-minus-3'}}
