<div class="typescale-line">
  <div
    class="typescale-line__left wds-{{@typescaleName}} wds-{{@lineHeightName}}"
  >
    This is a headline.
  </div>
  <div class="typescale-line__right">
    <p>Font size: <strong>{{@fontSize}}px</strong><code class="typescale-line__code format-code">.wds-{{@typescaleName}}</code></p>
    <p>Line height: <strong>{{@lineHeight}}</strong><code class="typescale-line__code format-code">.wds-{{@lineHeightName}}</code></p>
  </div>
</div>
