{{#wds-dropdown isLevel2=true tagName='li' class=stickedClassName as |dropdown|}}
	{{#dropdown.toggle tagName='a' data-tracking-label=model.tracking_label href=href as |chevron|}}
		{{wds-community-header/nav-item item=model}}
		{{chevron}}
	{{/dropdown.toggle}}
	{{#dropdown.content scrollable=false}}
		{{#wds-list linked=true}}
			{{#each @model.items as |thirdLevelItem|}}
				<li><a href={{thirdLevelItem.href}} data-tracking-label={{thirdLevelItem.tracking_label}}>{{thirdLevelItem.title.value}}</a></li>
			{{/each}}
		{{/wds-list}}
	{{/dropdown.content}}
{{/wds-dropdown}}
