{{#wds-dropdown isLevel2=true tagName='li' class=stickedClassName as |dropdown|}}
	{{#dropdown.toggle tagName='a' data-tracking-label=item.tracking_label href='#' as |chevron|}}
		{{partial 'partials/nav-item'}}
		{{chevron}}
	{{/dropdown.toggle}}
	{{#dropdown.content scrollable=false}}
		{{#wds-list linked=true}}
			{{#each item.items as |item|}}
				<li><a href="{{item.href}}" data-tracking-label="{{item.tracking_label}}">{{item.title.value}}</a></li>
			{{/each}}
		{{/wds-list}}
	{{/dropdown.content}}
{{/wds-dropdown}}
