{{#wds-dropdown as |dropdown|}}
	{{#dropdown.toggle class='wds-tabs__tab-label' as |toggle|}}
		{{#if model.href}}
			<a href="{{model.href}}">
				{{#if model.icon}}
					{{wds-icon name=model.icon size='tiny'}}
				{{/if}}
				<span>
					{{#if model.label.key}}
						{{i18n model.label.key}}
					{{else}}
						{{model.label.value}}
					{{/if}}
				</span>
			</a>
		{{else}}
			{{#if model.icon}}
				{{wds-icon name=model.icon size='tiny'}}
			{{/if}}
			<span>
				{{#if model.label.key}}
					{{i18n model.label.key}}
				{{else}}
					{{model.label.value}}
				{{/if}}
			</span>
		{{/if}}
		{{toggle.chevron}}
	{{/dropdown.toggle}}
	{{#dropdown.content scrollable=false}}
		{{#wds-list linked=true bold=true}}
			{{#each model.submenu as |secondLevelItem index|}}
				{{#if secondLevelItem.submenu}}
					{{wds-community-header/local-navigation-dropdown-level-2 model=secondLevelItem currentIndex=index}}
				{{else}}
					<li>
						<a href="{{secondLevelItem.href}}">
							{{#if model.label.key}}
								{{i18n secondLevelItem.label.key}}
							{{else}}
								{{secondLevelItem.label.value}}
							{{/if}}
						</a>
					</li>
				{{/if}}
			{{/each}}
		{{/wds-list}}
	{{/dropdown.content}}
{{/wds-dropdown}}
