{{#if model.wordmark.image-url}}
	<div class="wds-community-header__wordmark">
		<a accesskey="z" href="{{model.wordmark.href}}">
			<img src="{{model.wordmark.image-url}}" alt="{{model.wordmark.sitename}}" width="250" height="65">
		</a>
	</div>
{{/if}}

<div class="wds-community-header__top-container">
	<div class="wds-community-header__wordmark-text">
		<a href="{{model.wordmark.href}}">{{model.wordmark.sitename}}</a>
	</div>
	<div class="wds-community-header__counter">
		<span class="wds-community-header__counter-value">{{model.counter.value}}</span>
		<span class="wds-community-header__counter-label">{{i18n model.counter.label.key}}</span>
	</div>
	<div class="wds-community-header__wiki-buttons wds-button-group">
		{{#each model.wiki-buttons as |button|}}
			{{#if button.label}}
				<a class="wds-button wds-is-squished wds-is-secondary" href="{{button.href}}">
					{{wds-icon name=button.icon class='wds-icon-small'}}
					<span>{{i18n button.label.key}}</span>
				</a>
			{{else}}
				<a class="wds-button wds-is-squished wds-is-secondary" href="{{button.href}}">
					{{wds-icon name=button.icon class='wds-icon-small'}}
				</a>
			{{/if}}

		{{/each}}
	</div>
</div>

<nav class="wds-community-header__local-navigation">
	{{#wds-tabs}}
		{{#each model.local-navigation as |first-level-item|}}
			{{#wds-tab}}
				{{#if first-level-item.submenu}}
					{{#wds-dropdown as |dropdown|}}
						{{#dropdown.toggle  class='wds-tabs__tab-label'}}
							{{#if first-level-item.icon}}
								{{wds-icon name=first-level-item.icon class='wds-icon-tiny'}}
							{{/if}}
							<span>
								{{#if first-level-item.label.key}}
									{{i18n first-level-item.label.key}}
								{{else}}
									{{first-level-item.label.value}}
								{{/if}}
							</span>
						{{/dropdown.toggle}}
						{{#dropdown.content isNotScrollable=true}}
							<ul class="wds-list wds-is-linked wds-has-bolded-items">
								{{#each first-level-item.submenu as |second-level-item|}}
									{{#if second-level-item.submenu}}
										{{#wds-dropdown isLevel2=true tagName='li' as |dropdown|}}
											{{#dropdown.toggle tagName='a' href='#'}}
												<span>
													{{#if first-level-item.label.key}}
														{{i18n second-level-item.label.key}}
													{{else}}
														{{second-level-item.label.value}}
													{{/if}}
												</span>
											{{/dropdown.toggle}}
											{{#dropdown.content isNotScrollable=true}}
												<ul class="wds-list wds-is-linked">
													{{#each second-level-item.submenu as |third-level-item|}}
														<li><a href="{{third-level-item.href}}">{{third-level-item.label.value}}</a></li>
													{{/each}}
												</ul>
											{{/dropdown.content}}
										{{/wds-dropdown}}
									{{else}}
										<li>
											<a href="{{second-level-item.href}}">
												{{#if first-level-item.label.key}}
													{{i18n second-level-item.label.key}}
												{{else}}
													{{second-level-item.label.value}}
												{{/if}}
											</a>
										</li>
									{{/if}}
								{{/each}}
							</ul>
						{{/dropdown.content}}
					{{/wds-dropdown}}
				{{else}}
					<a href="{{first-level-item.href}}" class="wds-tabs__tab-label">
						{{#if first-level-item.icon}}
							{{wds-icon name=first-level-item.icon class='wds-icon-tiny'}}
						{{/if}}
						{{#if first-level-item.label.key}}
							{{i18n first-level-item.label.key}}
						{{else}}
							{{first-level-item.label.value}}
						{{/if}}
					</a>
				{{/if}}
			{{/wds-tab}}
		{{/each}}
	{{/wds-tabs}}
</nav>
