<div class="wds-global-navigation__content-bar">
	{{#if model.logo.header}}
		<a href="{{model.logo.module.main.href}}" class="wds-global-navigation__logo">
			{{! available class names: wds-is-wds-company-logo-fandom wds-is-wds-company-logo-powered-by-wikia wds-is-wds-company-logo-wikia-org}}
			{{svg model.logo.module.main.image-data.name class=(concat 'wds-global-navigation__logo-image wds-is-' model.logo.module.main.image-data.name)}}
			{{#if model.logo.module.tagline}}
				{{svg model.logo.module.tagline.image-data.name class=(concat 'wds-global-navigation__logo-image wds-is-' model.logo.module.tagline.image-data.name)}}
			{{/if}}
		</a>
	{{/if}}
	<div class="wds-global-navigation__links-and-search">
		{{#each model.fandom_overview.links as |link|}}
			{{wds-global-navigation.link-branded model=link}}
		{{/each}}
		{{wds-global-navigation.links
			model=model.wikis
			type='wikis-menu'
		}}
		{{wds-global-navigation.search
			model=model.search.module
			activateSearch='activateSearch'
			deactivateSearch='deactivateSearch'
		}}
	</div>
	{{#if model.user}}
		{{wds-global-navigation.links
			dropdownRightAligned=true
			model=model.user
			type='user-menu'
		}}
	{{else if model.anon}}
		{{wds-global-navigation.account-navigation
			model=model.anon
		}}
	{{/if}}
	<div class="wds-global-navigation__start-a-wiki{{if model.user ' wds-user-is-logged-in'}}">
		<a href="{{model.create_wiki.header.href}}" class="wds-global-navigation__start-a-wiki-button wds-button wds-is-secondary">
			<span class="wds-global-navigation__start-a-wiki-caption">{{i18n model.create_wiki.header.title.key}}</span>
			{{svg 'wds-icons-plus' class='wds-global-navigation__start-a-wiki-icon wds-icon'}}
		</a>
	</div>
</div>
{{#if model.partner_slot}}
	<div class="wds-global-navigation__partner-slot">
		<a href="{{model.partner_slot.href}}" class="wds-global-navigation__partner-slot-link">
			<img class="wds-global-navigation__partner-slot-image" src="{{model.partner_slot.image-data.url}}" alt="{{model.partner_slot.title.value}}">
		</a>
	</div>
{{/if}}
