{{#wds-dropdown
	class=additionalClassNames
	as |dropdown|
}}
	{{#dropdown.toggle
		class='wds-global-navigation__dropdown-toggle'
		title=(if showAvatar model.header.username.value)
	}}
		{{#if showAvatar}}
			<img class="wds-avatar" src="{{model.header.url}}" alt="{{model.header.username.value}}" />
		{{else}}
			<span>{{i18n model.header.title.key}}</span>
		{{/if}}
	{{/dropdown.toggle}}
	{{#dropdown.content
		class='wds-global-navigation__dropdown-content'
		dropdownRightAligned=dropdownRightAligned
	}}
		{{#wds-list class='wds-is-linked'}}
			{{#each model.links as |link|}}
				<li>
					{{component
						(if (equal link.type 'link-authentication')
							'wds-global-navigation.link-authentication'
							'wds-global-navigation.link-dropdown'
						)
						model=link
					}}
				</li>
			{{/each}}
		{{/wds-list}}
	{{/dropdown.content}}
{{/wds-dropdown}}
