<List class={{firstLevelClasses}} @linked={{true}}>
  {{#each model as |firstLevelItem index|}}
    <li>
      <a
        href={{firstLevelItem.href}}
        data-tracking-label={{unless (equal firstLevelItem.href "#") firstLevelItem.tracking_label}}
        onclick={{action onFirstLevelSelected index firstLevelItem}}
      >
        <Label @label={{firstLevelItem.title}} />
        {{#if firstLevelItem.items}}
          {{svg "wds-icons-menu-control-tiny" class="wds-icon wds-icon-tiny"}}
        {{/if}}
      </a>
    </li>
  {{/each}}
</List>
{{#each model as |firstLevelItem firstLevelIndex|}}
  {{#if firstLevelItem.items}}
    {{community-bar/local-navigation-level-2
      firstLevelItem=firstLevelItem
      firstLevelIndex=firstLevelIndex
      firstLevelIndexSelected=firstLevelIndexSelected
      secondLevelIndexSelected=secondLevelIndexSelected
      onNavigationItemLinkClicked=(action onNavigationItemLinkClicked)
      onSecondLevelClicked=(action onSecondLevelSelected)
      onBackButtonClicked=(action resetSelected "firstLevelIndexSelected")
      onLinkClicked=(action onLinkClicked)
    }}
    {{#each firstLevelItem.items as |secondLevelItem secondLevelIndex|}}
      {{#if secondLevelItem.items}}
        {{community-bar/local-navigation-level-3
          secondLevelItem=secondLevelItem
          firstLevelIndex=firstLevelIndex
          firstLevelIndexSelected=firstLevelIndexSelected
          secondLevelIndex=secondLevelIndex
          secondLevelIndexSelected=secondLevelIndexSelected
          onNavigationItemLinkClicked=(action onNavigationItemLinkClicked)
          onBackButtonClicked=(action resetSelected "secondLevelIndexSelected")
          onLinkClicked=(action onLinkClicked)
        }}
      {{/if}}
    {{/each}}
  {{/if}}
{{/each}}
