<div class="wds-community-bar__navigation-back" {{action onBackButtonClicked}}>
  {{svg "wds-icons-menu-control-tiny" class="wds-icon wds-icon-tiny"}}
  {{i18n "back" ns="design-system"}}
</div>
<a
  class="wds-community-bar__navigation-header"
  href={{secondLevelItem.href}}
  data-tracking-label={{unless
    (equal secondLevelItem.href "#")
    secondLevelItem.tracking_label
  }}
  onclick={{action onNavigationItemLinkClicked}}
>
  <Label @label={{secondLevelItem.title}} />
</a>
<List @linked={{true}}>
  {{#each secondLevelItem.items as |thirdLevelItem|}}
    <li>
      <a
        href={{thirdLevelItem.href}}
        data-tracking-label={{unless
          (equal thirdLevelItem.href "#")
          thirdLevelItem.tracking_label
        }}
        onclick={{action onNavigationItemLinkClicked}}
      >
        <Label @label={{thirdLevelItem.title}} />
      </a>
    </li>
  {{/each}}
</List>
