<section>
    <h2>Fandom Corporate Colors</h2>

    {{color-box hex='#94d11f' name='Games' variable='$color-games'}}
    {{color-box hex='#09d3bf' name='Movies' variable='$color-movies'}}
    {{color-box hex='#00b7e0' name='TV' variable='$color-tv'}}
    {{color-box hex='#39424d' name='Dark Blue Gray' variable='$color-dark-blue-gray'}}
    {{color-box hex='#656e78' name='Medium Gray' variable='$color-slate-gray'}}
    {{color-box hex='#c5ced9' name='Blue Gray' variable='$color-blue-gray'}}
    {{color-box hex='#f6f6f6' name='Off-White 96%' variable='$color-off-white'}}
    {{color-box hex='#00b7e0' name='Link' variable='$color-link'}}
</section>

<section>
    <h2>Wikia Corporate Colors</h2>

    {{color-box hex='#092344' name='Dark Blue' variable='$color-dark-blue'}}
    {{color-box hex='#1a5eb8' name='Light Blue' variable='$color-light-blue'}}
    {{color-box hex='#39424d' name='Dark Blue Gray' variable='$color-dark-blue-gray'}}
    {{color-box hex='#656e78' name='Medium Gray' variable='$color-slate-gray'}}
    {{color-box hex='#c5ced9' name='Blue Gray' variable='$color-blue-gray'}}
    {{color-box hex='#e6ebf2' name='Light Blue Gray' variable='$color-light-blue-gray'}}
    {{color-box hex='#f2f6fa' name='Gray' variable='$color-faint-blue-gray'}}
    {{color-box hex='#fff' name='White' variable='$color-white'}}
</section>

<section>
    <h2>Verticals Colors</h2>

    {{color-box hex='#ff5400' name='Comics' variable='$color-comics'}}
    {{color-box hex='#94d11f' name='Games' variable='$color-games'}}
    {{color-box hex='#ff7f26' name='Books' variable='$color-books'}}
    {{color-box hex='#09d3bf' name='Movies' variable='$color-movies'}}
    {{color-box hex='#ffd000' name='Lifestyle' variable='$color-lifestyle'}}
    {{color-box hex='#c819ad' name='Music' variable='$color-music'}}
    {{color-box hex='#00b7e0' name='TV' variable='$color-tv'}}
</section>

<section>
    <h2>Light Theme</h2>

    {{color-box hex='#fff' name='White 100%' variable='$color-light-c1'}}
    {{color-box hex='#f6f6f6' name='Off-White 96%' variable='$color-light-c2'}}
    {{color-box hex='#e6e6e6' name='Mist Gray 90%' variable='$color-light-c3'}}
    {{color-box hex='#ccc' name='Faint Gray 80%' variable='$color-light-c4'}}
    {{color-box hex='#999' name='Light Gray 60%' variable='$color-light-c5'}}
    {{color-box hex='#333' name='Dark Gray 20%' variable='$color-light-c6'}}
    {{color-box hex='#666' name='Medium Gray 40%' variable='$color-light-c7'}}
    {{color-box hex='#e3bd00' name='Gold' variable='$color-light-c8'}}
</section>

<section>
    <h2>Dark Theme</h2>

    {{color-box hex='#262626' name='Dark Gray 15%' variable='$color-dark-c1'}}
    {{color-box hex='#1a1a1a' name='Dark Gray 10%' variable='$color-dark-c2'}}
    {{color-box hex='#333' name='Dark Gray 20%' variable='$color-dark-c3'}}
    {{color-box hex='#666' name='Medium Gray 40%' variable='$color-dark-c4'}}
    {{color-box hex='#999' name='Ligt Gray 60%' variable='$color-dark-c5'}}
    {{color-box hex='#ccc' name='Faint Gray 80%' variable='$color-dark-c6'}}
    {{color-box hex='#fff' name='White 100%' variable='$color-dark-c7'}}
    {{color-box hex='#e3bd00' name='Gold' variable='$color-dark-c8'}}
</section>

<section>
    <h2>Alerts</h2>

    {{color-box hex='#ed1c24' name='Alert/Delete' variable='$color-alert'}}
    {{color-box hex='#f08a24' name='Warning/Reported' variable='$color-warning'}}
    {{color-box hex='#5ba200' name='Success/Approve' variable='$color-success'}}
    {{color-box hex='#1a5eb8' name='Message' variable='$color-message'}}
</section>
