{{#wds-tabs}}
	{{#each model as |first-level-item|}}
		{{#wds-tab}}
			{{#if first-level-item.submenu}}
				{{#wds-dropdown as |dropdown|}}
					{{#dropdown.toggle  class='wds-tabs__tab-label'}}
						{{#if first-level-item.icon}}
							{{wds-icon name=first-level-item.icon class='wds-icon-tiny'}}
						{{/if}}
						<span>
							{{#if first-level-item.label.key}}
								{{i18n first-level-item.label.key}}
							{{else}}
								{{first-level-item.label.value}}
							{{/if}}
						</span>
					{{/dropdown.toggle}}
					{{#dropdown.content isNotScrollable=true}}
						<ul class="wds-list wds-is-linked wds-has-bolded-items">
							{{#each first-level-item.submenu as |second-level-item|}}
								{{#if second-level-item.submenu}}
									{{#wds-dropdown isLevel2=true tagName='li' as |dropdown|}}
										{{#dropdown.toggle tagName='a' href='#'}}
											<span>
												{{#if first-level-item.label.key}}
													{{i18n second-level-item.label.key}}
												{{else}}
													{{second-level-item.label.value}}
												{{/if}}
											</span>
										{{/dropdown.toggle}}
										{{#dropdown.content isNotScrollable=true}}
											<ul class="wds-list wds-is-linked">
												{{#each second-level-item.submenu as |third-level-item|}}
													<li><a href="{{third-level-item.href}}">{{third-level-item.label.value}}</a></li>
												{{/each}}
											</ul>
										{{/dropdown.content}}
									{{/wds-dropdown}}
								{{else}}
									<li>
										<a href="{{second-level-item.href}}">
											{{#if first-level-item.label.key}}
												{{i18n second-level-item.label.key}}
											{{else}}
												{{second-level-item.label.value}}
											{{/if}}
										</a>
									</li>
								{{/if}}
							{{/each}}
						</ul>
					{{/dropdown.content}}
				{{/wds-dropdown}}
			{{else}}
				<a href="{{first-level-item.href}}" class="wds-tabs__tab-label">
					{{#if first-level-item.icon}}
						{{wds-icon name=first-level-item.icon class='wds-icon-tiny'}}
					{{/if}}
					{{#if first-level-item.label.key}}
						{{i18n first-level-item.label.key}}
					{{else}}
						{{first-level-item.label.value}}
					{{/if}}
				</a>
			{{/if}}
		{{/wds-tab}}
	{{/each}}
{{/wds-tabs}}
