{{#if wdsOnSiteNotifications.hasUnread}}
  <div class="wds-notifications__mark-all-as-read-button">
    <p class="wds-notifications__header">{{i18n header ns="design-system"}}</p>
    <a {{action "markAllAsRead"}} class="wds-notifications__mark-all-as-read">
      {{i18n "notifications-mark-all-as-read" ns="design-system"}}
    </a>
  </div>
{{/if}}
{{#if isNotificationsListVisible}}
  {{on-site-notifications/notifications-list track=track}}
{{else}}
  <p class="wds-notifications__zero-state">
    {{i18n "notifications-no-notifications-message" ns="design-system"}}
  </p>
{{/if}}
