{{#if showAvatars}}
  <AvatarStack
    @avatars={{avatars}}
    @overrideCount={{model.totalUniqueActors}}
  />
{{/if}}
<a
  class="wds-notification-card__outer-body"
  href={{model.latestEventUri}}
  {{action "onNotificationClicked" preventDefault=true}}
>
  <div
    class="wds-notification-card__icon-wrapper"
    {{action "markAsRead" bubbles=false}}
  >
    {{svg iconName viewBox="0 0 18 18" class="wds-icon wds-icon-small"}}
  </div>
  <div class="wds-notification-card__body">
    <p class="wds-notification-card__text">
      {{#if text}}
        {{text}}
      {{else}}
        {{{textWithHtml}}}
      {{/if}}
    </p>
    {{#if showSnippet}}
      <p class="wds-notification-card__snippet">
        {{model.snippet}}
      </p>
    {{/if}}
    {{#if showLastActor}}
      <p class="wds-notification-card__last-actor">
        {{model.latestActors.0.name}}
      </p>
    {{/if}}
    <ul class="wds-notification-card__context-list">
      <li class="wds-notification-card__context-item">
        {{time-ago model.timestamp}}
      </li>
      <li>
        <span class="wds-notification-card__context-separator">·</span>
      </li>
      <li
        class="wds-notification-card__context-item wds-notification-card__community"
      >
        {{model.communityName}}
      </li>
    </ul>
  </div>
</a>
