<h1>Assets</h1>

<h2 id="icons-standard">Icons: Standard set (24x24)</h2>
{{icon-box name='alert'}}
{{icon-box name='arrow'}}
{{icon-box name='bell'}}
{{icon-box name='bold'}}
{{icon-box name='bookmark'}}
{{icon-box name='bullet-list'}}
{{icon-box name='camera'}}
{{icon-box name='checkbox'}}
{{icon-box name='checkmark'}}
{{icon-box name='checkmark-circle'}}
{{icon-box name='clipboard'}}
{{icon-box name='community'}}
{{icon-box name='controls'}}
{{icon-box name='cross'}}
{{icon-box name='document'}}
{{icon-box name='dropdown'}}
{{icon-box name='eye'}}
{{icon-box name='eye-crossed'}}
{{icon-box name='flag'}}
{{icon-box name='gear'}}
{{icon-box name='gift'}}
{{icon-box name='grid'}}
{{icon-box name='help'}}
{{icon-box name='house'}}
{{icon-box name='image'}}
{{icon-box name='image-add'}}
{{icon-box name='image-remove'}}
{{icon-box name='information'}}
{{icon-box name='italics'}}
{{icon-box name='link'}}
{{icon-box name='loading'}}
{{icon-box name='lock'}}
{{icon-box name='magnifying-glass'}}
{{icon-box name='mail'}}
{{icon-box name='map'}}
{{icon-box name='menu'}}
{{icon-box name='menu-control'}}
{{icon-box name='more'}}
{{icon-box name='note'}}
{{icon-box name='numbered-list'}}
{{icon-box name='page'}}
{{icon-box name='pencil'}}
{{icon-box name='play'}}
{{icon-box name='plus'}}
{{icon-box name='question'}}
{{icon-box name='quote'}}
{{icon-box name='refresh'}}
{{icon-box name='reply'}}
{{icon-box name='reply-arrow'}}
{{icon-box name='share'}}
{{icon-box name='text'}}
{{icon-box name='trash'}}
{{icon-box name='trash-open'}}
{{icon-box name='undo'}}
{{icon-box name='unlock'}}
{{icon-box name='upload'}}
{{icon-box name='upvote'}}
{{icon-box name='user'}}
{{icon-box name='video-camera'}}

<h2 id="icons-small">Icons: Small set (18x18)</h2>
{{icon-box name='alert' size='small'}}
{{icon-box name='bold' size='small'}}
{{icon-box name='bookmark' size='small'}}
{{icon-box name='bullet-list' size='small'}}
{{icon-box name='checkmark' size='small'}}
{{icon-box name='clipboard' size='small'}}
{{icon-box name='community' size='small'}}
{{icon-box name='eye' size='small'}}
{{icon-box name='eye-crossed' size='small'}}
{{icon-box name='house' size='small'}}
{{icon-box name='italics' size='small'}}
{{icon-box name='lock' size='small'}}
{{icon-box name='menu-control' size='small'}}
{{icon-box name='numbered-list' size='small'}}
{{icon-box name='pencil' size='small'}}
{{icon-box name='quote' size='small'}}
{{icon-box name='reply' size='small'}}
{{icon-box name='reply-arrow' size='small'}}
{{icon-box name='share' size='small'}}
{{icon-box name='text' size='small'}}
{{icon-box name='trash' size='small'}}
{{icon-box name='trash-open' size='small'}}
{{icon-box name='upvote' size='small'}}
{{icon-box name='unlock' size='small'}}

<h2 id="icons-tiny">Icons: Tiny set (12x12)</h2>
{{icon-box name='dropdown' size='tiny'}}
{{icon-box name='menu-control' size='tiny'}}
{{icon-box name='reply' size='tiny'}}
{{icon-box name='upvote' size='tiny'}}
{{icon-box name='upvote-reply' size='tiny'}}

<h2 id="stores">Mobile apps stores</h2>
{{svg-asset name='company-store-appstore' height=50}}
{{svg-asset name='company-store-googleplay' height=50}}

<h2 id="avatar-badges">Avatar badges</h2>
{{svg-asset name='avatar-badges-admin' height=50 width=50}}
{{svg-asset name='avatar-badges-content-moderator' height=50 width=50}}
{{svg-asset name='avatar-badges-discussion-moderator' height=50 width=50}}
{{svg-asset name='avatar-badges-helper' height=50 width=50}}
{{svg-asset name='avatar-badges-staff' height=50 width=50}}
{{svg-asset name='avatar-badges-vstf' height=50 width=50}}
