<h2>Table of contents</h2>
<ul>
    <li><a href="#icons-standard">Icons - Standard set</a></li>
    <li><a href="#icons-small">Icons - Small set</a></li>
    <li><a href="#icons-tiny">Icons - Tiny set</a></li>
    <li><a href="#stores">Mobile stores</a></li>
    <li><a href="#avatar-badges">Avatar badges</a></li>
</ul>

<h2>Icons</h2>
<h3 id="icons-standard">Standard set (24x24)</h3>
{{wds-icon name='alert'}}
{{wds-icon name='arrow'}}
{{wds-icon name='bell'}}
{{wds-icon name='bold'}}
{{wds-icon name='bookmark'}}
{{wds-icon name='bullet-list'}}
{{wds-icon name='camera'}}
{{wds-icon name='checkbox'}}
{{wds-icon name='checkmark'}}
{{wds-icon name='checkmark-circle'}}
{{wds-icon name='clipboard'}}
{{wds-icon name='community'}}
{{wds-icon name='controls'}}
{{wds-icon name='cross'}}
{{wds-icon name='document'}}
{{wds-icon name='dropdown'}}
{{wds-icon name='eye'}}
{{wds-icon name='eye-crossed'}}
{{wds-icon name='flag'}}
{{wds-icon name='gear'}}
{{wds-icon name='gift'}}
{{wds-icon name='grid'}}
{{wds-icon name='help'}}
{{wds-icon name='house'}}
{{wds-icon name='image'}}
{{wds-icon name='image-add'}}
{{wds-icon name='image-remove'}}
{{wds-icon name='information'}}
{{wds-icon name='italics'}}
{{wds-icon name='link'}}
{{wds-icon name='loading'}}
{{wds-icon name='lock'}}
{{wds-icon name='magnifying-glass'}}
{{wds-icon name='mail'}}
{{wds-icon name='map'}}
{{wds-icon name='menu'}}
{{wds-icon name='menu-control'}}
{{wds-icon name='more'}}
{{wds-icon name='note'}}
{{wds-icon name='numbered-list'}}
{{wds-icon name='page'}}
{{wds-icon name='pencil'}}
{{wds-icon name='play'}}
{{wds-icon name='plus'}}
{{wds-icon name='question'}}
{{wds-icon name='quote'}}
{{wds-icon name='refresh'}}
{{wds-icon name='reply'}}
{{wds-icon name='reply-arrow'}}
{{wds-icon name='share'}}
{{wds-icon name='text'}}
{{wds-icon name='trash'}}
{{wds-icon name='trash-open'}}
{{wds-icon name='undo'}}
{{wds-icon name='unlock'}}
{{wds-icon name='upload'}}
{{wds-icon name='upvote'}}
{{wds-icon name='user'}}
{{wds-icon name='video-camera'}}

<h3 id="icons-small">Small set (18x18)</h3>
{{wds-icon name='alert' size='small'}}
{{wds-icon name='bold' size='small'}}
{{wds-icon name='bookmark' size='small'}}
{{wds-icon name='bullet-list' size='small'}}
{{wds-icon name='checkmark' size='small'}}
{{wds-icon name='clipboard' size='small'}}
{{wds-icon name='community' size='small'}}
{{wds-icon name='eye' size='small'}}
{{wds-icon name='eye-crossed' size='small'}}
{{wds-icon name='house' size='small'}}
{{wds-icon name='italics' size='small'}}
{{wds-icon name='lock' size='small'}}
{{wds-icon name='menu-control' size='small'}}
{{wds-icon name='numbered-list' size='small'}}
{{wds-icon name='pencil' size='small'}}
{{wds-icon name='quote' size='small'}}
{{wds-icon name='reply' size='small'}}
{{wds-icon name='reply-arrow' size='small'}}
{{wds-icon name='share' size='small'}}
{{wds-icon name='text' size='small'}}
{{wds-icon name='trash' size='small'}}
{{wds-icon name='trash-open' size='small'}}
{{wds-icon name='upvote' size='small'}}
{{wds-icon name='unlock' size='small'}}

<h3 id="icons-tiny">Tiny set (12x12)</h3>
{{wds-icon name='dropdown' size='tiny'}}
{{wds-icon name='menu-control' size='tiny'}}
{{wds-icon name='reply' size='tiny'}}
{{wds-icon name='upvote' size='tiny'}}
{{wds-icon name='upvote-reply' size='tiny'}}

<h2 id="stores">TODO Mobile stores but in company namespace?</h2>
{{rp-asset name='company-store-appstore' height=50}}
{{rp-asset name='company-store-googleplay' height=50}}

<h2 id="avatar-badges">Avatar badges</h2>
{{rp-asset name='avatar-badges-admin' height=50 width=50}}
{{rp-asset name='avatar-badges-content-moderator' height=50 width=50}}
{{rp-asset name='avatar-badges-discussion-moderator' height=50 width=50}}
{{rp-asset name='avatar-badges-helper' height=50 width=50}}
{{rp-asset name='avatar-badges-staff' height=50 width=50}}
{{rp-asset name='avatar-badges-vstf' height=50 width=50}}
