<h1>Assets</h1>
<h2 id="company">Company assets</h2>
{{asset-box group='company-logo' name='fandom' class='is-identity' width=300}}
{{asset-box group='company-logo' name='fandom-heart' class='is-identity'}}
{{asset-box group='company-logo' name='fandom-powered-by-wikia' class='is-identity' width=300}}
{{asset-box group='company-logo' name='fandom-powered-by-wikia-two-lines' class='is-identity' width=300}}
{{asset-box group='company-logo' name='powered-by-wikia' class='is-identity'}}
{{asset-box group='company-logo' name='wikia' class='is-identity'}}
