<h2 id="company">Company assets</h2>
{{rp-asset name='company-logo-fandom' width=300}}
{{rp-asset name='company-logo-fandom-heart'}}
{{rp-asset name='company-logo-fandom-powered-by-wikia' width=300}}
{{rp-asset name='company-logo-fandom-powered-by-wikia-two-lines' width=300}}
{{rp-asset name='company-logo-powered-by-wikia'}}
{{rp-asset name='company-logo-wikia'}}
