<CommunityHeader @model={{model}} @track={{track}}>
  <CommunityHeaderWikiContent @model={{model}} />
</CommunityHeader>
<div class="separator"></div>
<CommunityHeader @model={{model}} class="color-5F1023" @track={{track}}>
  <CommunityHeaderWikiContent @model={{model}} />
</CommunityHeader>

<div class="separator separator-5F1023"></div>
<CommunityHeader @model={{model}} class="color-787878" @track={{track}}>
  <CommunityHeaderWikiContent @model={{model}} />
</CommunityHeader>

<div class="separator separator-787878"></div>
<CommunityHeader @model={{model}} class="color-FB7383" @track={{track}}>
  <CommunityHeaderWikiContent @model={{model}} />
</CommunityHeader>

<div class="separator separator-FB7383"></div>
