<h1>Assets</h1>
<p>
  Defined as an XML-based vector format for 2d graphics with support for interactivity and animation,
  SVGs are the primary file type for icons and non image-based assets used across our platforms.
  SVGs can be displayed across devices with differing resolutions (1x, 2x, 3x, etc.) with lossless quality.
</p>
<p>
  {{#link-to "overview.svg-assets"}}How to use SVG assets{{/link-to}}
</p>

<section>
  <h2 id="icons">Icons</h2>
  <p>
    System icons are displayed at 24px, but are also available in varying sizes such as 18px and 12px.
    The content of an icon should remain inside the square container and when implementing,
    adequate space around the icon should be added to allow for legibility and touch.
    You may have icons with different sizes, but do not place any part of the icon outside of the live area.
  </p>
  <p>
    Asset names for icons are defined by the pattern <code><strong>wds-icons-ICON_NAME</strong></code>,
    e.g. <code>wds-icons-alert</code>.
  </p>
  <p>
    To apply default styles for an icon add <code class="format-code">.wds-icon</code> class to the <code>&lt;svg&gt;</code> element.
    This class includes <code>fill: currentColor;</code> rule which means that the fill color is inherited from the parent.
    To change the icon"s color you can either set <code>fill</code> on the <code>&lt;svg&gt;</code> element or
    <code>color</code> on its parent. If the parent changes its color (e.g. on the hover state) it"s propagated to the icon.
  </p>
</section>

<section>
  <h2 id="icons-standard">Icons: Standard set (24x24)</h2>
  <div class="assets-wrapper">
      <IconBox @name="activity" />
      <IconBox @name="add" />
      <IconBox @name="alert" />
      <IconBox @name="arrow" />
      <IconBox @name="bell" />
      <IconBox @name="bold-active" />
      <IconBox @name="bold" />
      <IconBox @name="book" />
      <IconBox @name="bookmark" />
      <IconBox @name="bullet-list" />
      <IconBox @name="calendar" />
      <IconBox @name="camera" />
      <IconBox @name="checkbox-empty" />
      <IconBox @name="checkbox" />
      <IconBox @name="checkmark" />
      <IconBox @name="clipboard" />
      <IconBox @name="clock" />
      <IconBox @name="comment" />
      <IconBox @name="controls" />
      <IconBox @name="download" />
      <IconBox @name="dropdown" />
      <IconBox @name="envelope" />
      <IconBox @name="external" />
      <IconBox @name="eye-crossed" />
      <IconBox @name="eye" />
      <IconBox @name="fandom" />
      <IconBox @name="flag" />
      <IconBox @name="footnote" />
      <IconBox @name="gear" />
      <IconBox @name="grid" />
      <IconBox @name="gripper" />
      <IconBox @name="h2" />
      <IconBox @name="h3" />
      <IconBox @name="home" />
      <IconBox @name="image" />
      <IconBox @name="images" />
      <IconBox @name="indent-left" />
      <IconBox @name="indent-right" />
      <IconBox @name="italics" />
      <IconBox @name="left-align" />
      <IconBox @name="link" />
      <IconBox @name="loading" />
      <IconBox @name="lock" />
      <IconBox @name="magnifying-glass" />
      <IconBox @name="map" />
      <IconBox @name="menu-control" />
      <IconBox @name="menu" />
      <IconBox @name="message" />
      <IconBox @name="more" />
      <IconBox @name="numbered-list" />
      <IconBox @name="page-list" />
      <IconBox @name="page" />
      <IconBox @name="pages" />
      <IconBox @name="paragraph" />
      <IconBox @name="pause" />
      <IconBox @name="pencil" />
      <IconBox @name="pin" />
      <IconBox @name="play" />
      <IconBox @name="poll" />
      <IconBox @name="question-mark" />
      <IconBox @name="quote" />
      <IconBox @name="radio-active" />
      <IconBox @name="radio-empty" />
      <IconBox @name="refresh" />
      <IconBox @name="reply" />
      <IconBox @name="share" />
      <IconBox @name="sitemap" />
      <IconBox @name="sound-off" />
      <IconBox @name="sound" />
      <IconBox @name="tag" />
      <IconBox @name="text" />
      <IconBox @name="trash-open" />
      <IconBox @name="trash" />
      <IconBox @name="unlock" />
      <IconBox @name="upvote" />
      <IconBox @name="user-avatar" />
      <IconBox @name="user" />
      <IconBox @name="users" />
      <IconBox @name="video" />
      <IconBox @name="zoom-in" />
      <IconBox @name="zoom-out" />
  </div>

  <Demo @name="icons" @codeOnly={{true}}>
    <Icon @name="alert" />
  </Demo>

  <h2>Parameters</h2>
  <div>
    <h3>HBS Properties</h3>
    <ul>
      <li><strong>name</strong> (string): name of the icon</li>
      <li><strong>size</strong> (string): size of the icon (tiny or small)</li>
    </ul>
  </div>
  <div>
    <h3>HTML Attributes/CSS Classes</h3>
    <ul>
      <li><strong>wds-icon-{size}</strong> (css class): size can be tiny or small</li>
      <li><strong>xlink:href</strong> (html attribute): name of the icon</li>
    </ul>
  </div>
</section>

<section>
  <h2 id="icons-small">Icons: Small set (18x18)</h2>
  <p>To have small icons properly styled use both <code class="format-code">.wds-icon</code> and <code class="format-code">.wds-icon-small</code> classes.</p>

  <div class="assets-wrapper">
      <IconBox @name="activity" @size="small" />
      <IconBox @name="add" @size="small" />
      <IconBox @name="alert" @size="small" />
      <IconBox @name="arrow" @size="small" />
      <IconBox @name="bell" @size="small" />
      <IconBox @name="bold-active" @size="small" />
      <IconBox @name="bold" @size="small" />
      <IconBox @name="book" @size="small" />
      <IconBox @name="bookmark" @size="small" />
      <IconBox @name="bullet-list" @size="small" />
      <IconBox @name="calendar" @size="small" />
      <IconBox @name="camera" @size="small" />
      <IconBox @name="checkbox-empty" @size="small" />
      <IconBox @name="checkbox" @size="small" />
      <IconBox @name="checkmark" @size="small" />
      <IconBox @name="clipboard" @size="small" />
      <IconBox @name="clock" @size="small" />
      <IconBox @name="comment" @size="small" />
      <IconBox @name="controls" @size="small" />
      <IconBox @name="download" @size="small" />
      <IconBox @name="dropdown" @size="small" />
      <IconBox @name="envelope" @size="small" />
      <IconBox @name="external" @size="small" />
      <IconBox @name="eye-crossed" @size="small" />
      <IconBox @name="eye" @size="small" />
      <IconBox @name="fandom" @size="small" />
      <IconBox @name="flag" @size="small" />
      <IconBox @name="footnote" @size="small" />
      <IconBox @name="gear" @size="small" />
      <IconBox @name="grid" @size="small" />
      <IconBox @name="gripper" @size="small" />
      <IconBox @name="h2" @size="small" />
      <IconBox @name="h3" @size="small" />
      <IconBox @name="home" @size="small" />
      <IconBox @name="image" @size="small" />
      <IconBox @name="images" @size="small" />
      <IconBox @name="indent-left" @size="small" />
      <IconBox @name="indent-right" @size="small" />
      <IconBox @name="italics" @size="small" />
      <IconBox @name="left-align" @size="small" />
      <IconBox @name="link" @size="small" />
      <!--<IconBox @name="loading" @size="small" />-->
      <IconBox @name="lock" @size="small" />
      <IconBox @name="magnifying-glass" @size="small" />
      <IconBox @name="map" @size="small" />
      <IconBox @name="menu-control" @size="small" />
      <IconBox @name="menu" @size="small" />
      <IconBox @name="message" @size="small" />
      <IconBox @name="more" @size="small" />
      <IconBox @name="numbered-list" @size="small" />
      <IconBox @name="page-list" @size="small" />
      <IconBox @name="page" @size="small" />
      <IconBox @name="pages" @size="small" />
      <IconBox @name="paragraph" @size="small" />
      <IconBox @name="pause" @size="small" />
      <IconBox @name="pencil" @size="small" />
      <IconBox @name="pin" @size="small" />
      <IconBox @name="play" @size="small" />
      <IconBox @name="poll" @size="small" />
      <IconBox @name="question-mark" @size="small" />
      <IconBox @name="quote" @size="small" />
      <IconBox @name="radio-active" @size="small" />
      <IconBox @name="radio-empty" @size="small" />
      <IconBox @name="refresh" @size="small" />
      <IconBox @name="reply" @size="small" />
      <IconBox @name="share" @size="small" />
      <IconBox @name="sitemap" @size="small" />
      <IconBox @name="sound-off" @size="small" />
      <IconBox @name="sound" @size="small" />
      <IconBox @name="tag" @size="small" />
      <IconBox @name="text" @size="small" />
      <IconBox @name="trash-open" @size="small" />
      <IconBox @name="trash" @size="small" />
      <IconBox @name="unlock" @size="small" />
      <IconBox @name="upvote" @size="small" />
      <IconBox @name="user-avatar" @size="small" />
      <IconBox @name="user" @size="small" />
      <IconBox @name="users" @size="small" />
      <IconBox @name="video" @size="small" />
      <IconBox @name="zoom-in" @size="small" />
      <IconBox @name="zoom-out" @size="small" />
  </div>

  <Demo @name="icons-small" @codeOnly={{true}}>
    <Icon @name="alert" @size="small" />
  </Demo>
</section>

<section>
  <h2 id="icons-tiny">Icons: Tiny set (12x12)</h2>
  <p>To have tiny icons properly styled use both <code class="format-code">.wds-icon</code> and <code class="format-code">.wds-icon-tiny</code> classes.</p>

  <div class="assets-wrapper">
      <IconBox @name="activity" @size="tiny" />
      <IconBox @name="add" @size="tiny" />
      <IconBox @name="alert" @size="tiny" />
      <IconBox @name="arrow" @size="tiny" />
      <IconBox @name="bell" @size="tiny" />
      <IconBox @name="bold-active" @size="tiny" />
      <IconBox @name="bold" @size="tiny" />
      <IconBox @name="book" @size="tiny" />
      <IconBox @name="bookmark" @size="tiny" />
      <IconBox @name="bullet-list" @size="tiny" />
      <IconBox @name="calendar" @size="tiny" />
      <IconBox @name="camera" @size="tiny" />
      <IconBox @name="checkbox-empty" @size="tiny" />
      <IconBox @name="checkbox" @size="tiny" />
      <IconBox @name="checkmark" @size="tiny" />
      <IconBox @name="clipboard" @size="tiny" />
      <IconBox @name="clock" @size="tiny" />
      <IconBox @name="comment" @size="tiny" />
      <IconBox @name="controls" @size="tiny" />
      <IconBox @name="download" @size="tiny" />
      <IconBox @name="dropdown" @size="tiny" />
      <IconBox @name="envelope" @size="tiny" />
      <IconBox @name="external" @size="tiny" />
      <IconBox @name="eye-crossed" @size="tiny" />
      <IconBox @name="eye" @size="tiny" />
      <IconBox @name="fandom" @size="tiny" />
      <IconBox @name="flag" @size="tiny" />
      <IconBox @name="footnote" @size="tiny" />
      <IconBox @name="gear" @size="tiny" />
      <IconBox @name="grid" @size="tiny" />
      <IconBox @name="gripper" @size="tiny" />
      <IconBox @name="h2" @size="tiny" />
      <IconBox @name="h3" @size="tiny" />
      <IconBox @name="home" @size="tiny" />
      <IconBox @name="image" @size="tiny" />
      <IconBox @name="images" @size="tiny" />
      <IconBox @name="indent-left" @size="tiny" />
      <IconBox @name="indent-right" @size="tiny" />
      <IconBox @name="italics" @size="tiny" />
      <IconBox @name="left-align" @size="tiny" />
      <IconBox @name="link" @size="tiny" />
      <!--<IconBox @name="loading" @size="tiny" />-->
      <IconBox @name="lock" @size="tiny" />
      <IconBox @name="magnifying-glass" @size="tiny" />
      <IconBox @name="map" @size="tiny" />
      <IconBox @name="menu-control" @size="tiny" />
      <IconBox @name="menu" @size="tiny" />
      <IconBox @name="message" @size="tiny" />
      <IconBox @name="more" @size="tiny" />
      <IconBox @name="numbered-list" @size="tiny" />
      <IconBox @name="page-list" @size="tiny" />
      <IconBox @name="page" @size="tiny" />
      <IconBox @name="pages" @size="tiny" />
      <IconBox @name="paragraph" @size="tiny" />
      <IconBox @name="pause" @size="tiny" />
      <IconBox @name="pencil" @size="tiny" />
      <IconBox @name="pin" @size="tiny" />
      <IconBox @name="play" @size="tiny" />
      <IconBox @name="poll" @size="tiny" />
      <IconBox @name="question-mark" @size="tiny" />
      <IconBox @name="quote" @size="tiny" />
      <IconBox @name="radio-active" @size="tiny" />
      <IconBox @name="radio-empty" @size="tiny" />
      <IconBox @name="refresh" @size="tiny" />
      <IconBox @name="reply" @size="tiny" />
      <IconBox @name="share" @size="tiny" />
      <IconBox @name="sitemap" @size="tiny" />
      <IconBox @name="sound-off" @size="tiny" />
      <IconBox @name="sound" @size="tiny" />
      <IconBox @name="tag" @size="tiny" />
      <IconBox @name="text" @size="tiny" />
      <IconBox @name="trash-open" @size="tiny" />
      <IconBox @name="trash" @size="tiny" />
      <IconBox @name="unlock" @size="tiny" />
      <IconBox @name="upvote" @size="tiny" />
      <IconBox @name="user-avatar" @size="tiny" />
      <IconBox @name="user" @size="tiny" />
      <IconBox @name="users" @size="tiny" />
      <IconBox @name="video" @size="tiny" />
      <IconBox @name="zoom-in" @size="tiny" />
      <IconBox @name="zoom-out" @size="tiny" />
  </div>

  <Demo @name="icons-tiny" @codeOnly={{true}}>
    <Icon @name="alert" @size="tiny" />
  </Demo>
</section>


<section>
  <h2 id="icons-social">Icons: Social networks</h2>
  <p>Social networks icons are a subset of the standard icon set. Asset names for social networks icons are defined by the same pattern as the standard icons, i.e. <code><strong>wds-icons-ICON_NAME</strong></code>, e.g. <code>wds-icons-facebook</code>.</p>

  <div class="assets-wrapper">
    <IconBox @name="facebook" />
    <IconBox @name="googleplus" />
    <IconBox @name="instagram" />
    <IconBox @name="line" />
    <IconBox @name="meneame" />
    <IconBox @name="nk" />
    <IconBox @name="odnoklassniki" />
    <IconBox @name="qzone" />
    <IconBox @name="reddit" />
    <IconBox @name="tumblr" />
    <IconBox @name="twitter" />
    <IconBox @name="vkontakte" />
    <IconBox @name="weibo" />
    <IconBox @name="wykop" />
    <IconBox @name="youtube" />
    <IconBox @name="linkedin" />
  </div>

  <Demo @name="icons-social" @codeOnly={{true}}>
    <Icon @name="facebook" />
  </Demo>
</section>

<section>
  <h2 id="modifiers">Icon modifiers</h2>

  <p>
    The <code>wds-menu-Chevron</code> class can be used on menu-control to indicate a menu item leads to another page.
  </p>

  <div class="assets-wrapper">
    <div class="icon-box">
      <div class="icon-box__icon">
        <Icon @name="menu-control" @chevron={{true}} />
      </div>
      <div class="icon-box__name">menu-control with wds-menu-Chevron</div>
    </div>
  </div>

  <Demo @name="icons-modifiers" @codeOnly={{true}}>
    <Icon @name="menu-control" @chevron={{true}} />
  </Demo>
</section>

<section>
  <h2 id="stores">Mobile apps stores</h2>
  <p>
    To help with the promotion of our community apps Google Play and App Store badges should be displayed
    when possible. Each badge should be translated to our supported languages and point to the respective
    download page.
  </p>
  <p>
    Asset names for mobile apps stores are defined by the pattern
    <code><strong>wds-company-store-STORE_NAME</strong></code>,
    e.g. <code>wds-company-store-appstore</code>.
  </p>

  <div class="assets-wrapper">
    <AssetBox @group="company-store" @name="appstore" @height={{50}} />
    <AssetBox @group="company-store" @name="googleplay" @height={{50}} />
  </div>

  <Demo codeOnly={{true}} name="mobile-apps-store">
    {{svg "wds-company-store-appstore"}}
  </Demo>
</section>

<section>
  <h2 id="player">Avatar</h2>
  <h5 id="player-icon-play">Avatar icon</h5>
  <p>
    It"s a separate asset type because it contains more than one fill color.
  </p>

  <Demo name="assets-avatar">
    {{svg "wds-avatar-icon" class="wds-icon"}}
    {{svg "wds-avatar-icon-tiny" class="wds-icon wds-icon-tiny"}}
  </Demo>
</section>

<section>
  <h2 id="avatar-badges">Avatar badges</h2>
  <p>
    To help communicate special user permissions badges should be displayed when sensible and placed
    at the top-left corner of the avatar. For clarity when a user hovers over the badge a label should
    display identifying what type of user he/she is.
  </p>
  <p>
    Asset names for avatar badges are defined by the pattern <code><strong>avatar-badges-BADGE_NAME</strong></code>,
    e.g. <code>avatar-badges-admin</code>.
  </p>
  <div class="assets-wrapper">
    <AssetBox
      @group="avatar-badges"
      @name="admin"
      class="is-avatar-badge"
      height="24"
      width="24"
    />
    <AssetBox
      @group="avatar-badges"
      @name="content-moderator"
      class="is-avatar-badge"
      height="24"
      width="24"
    />
    <AssetBox
      @group="avatar-badges"
      @name="discussion-moderator"
      class="is-avatar-badge"
      height="24"
      width="24"
    />
    <AssetBox
      @group="avatar-badges"
      @name="global-discussions-moderator"
      class="is-avatar-badge"
      height="24"
      width="24"
    />
    <AssetBox
      @group="avatar-badges"
      @name="helper"
      class="is-avatar-badge"
      height="24"
      width="24"
    />
    <AssetBox
      @group="avatar-badges"
      @name="staff"
      class="is-avatar-badge"
      height="24"
      width="24"
    />
    <AssetBox
      @group="avatar-badges"
      @name="vstf"
      class="is-avatar-badge"
      height="24"
      width="24"
    />
  </div>

  <Demo @name="assets-avatar-badges" @codeOnly={{true}}>
    {{svg "wds-avatar-badges-admin"}}
  </Demo>
</section>

<section>
  <h2 id="player">Video player</h2>
  <h5 id="player-icon-play">Play icon</h5>
  <p>
    Different sizes of play icon can be achieved with css classes, for example <code>wds-player-icon-play-tiny</code>
  </p>

  <Demo name="assets-player">
    {{svg "wds-player-icon-play" class="wds-player-icon-play-tiny"}}
    {{svg "wds-player-icon-play" class="wds-player-icon-play-small"}}
    {{svg "wds-player-icon-play" class="wds-player-icon-play-medium"}}
    {{svg "wds-player-icon-play" class="wds-player-icon-play-large"}}
    {{svg "wds-player-icon-play" class="wds-player-icon-play-xl"}}
    {{svg "wds-player-icon-play" class="wds-player-icon-play-xxl"}}
  </Demo>
</section>
