<h1>Avatars</h1>
<p>
	Avatars across Fandom should be circular with a 2px internal border.
</p>

<section>
	<h2 id="avatar-circle">Circle avatar</h2>
	<p>To display an avatar image encapsulated in a circle, use <code class="format-code">.wds-avatar</code> class in your <code>&lt;img&gt;</code> tag.</p>

	{{#component-demo}}
{{wds-avatar src=(concat rootURL 'images/craig.jpg') alt='user name'}}
	{{/component-demo}}
</section>

<section>
	<h2 id="avatar-circle">Avatar stack</h2>
	<p>
		To display an avatar stack, as used in the notifications, wrap each of your avatar in
		<code>wds-avatar-stack__avatar</code> and all of them in <code>wds-avatar-stack</code>.
	</p>
	{{#component-demo}}
<div class="wds-avatar-stack">
	<div class="wds-avatar-stack__avatar">
		{{wds-avatar src=(concat rootURL 'images/craig.jpg') alt='user name'}}
	</div>
	<div class="wds-avatar-stack__avatar">
		{{wds-avatar src=(concat rootURL 'images/craig.jpg') alt='user name'}}
	</div>
	<div class="wds-avatar-stack__avatar">
		{{wds-avatar src=(concat rootURL 'images/craig.jpg') alt='user name'}}
	</div>
	<div class="wds-avatar-stack__avatar">
		{{wds-avatar src=(concat rootURL 'images/craig.jpg') alt='user name'}}
	</div>
	<div class="wds-avatar-stack__avatar">
		{{wds-avatar src=(concat rootURL 'images/craig.jpg') alt='user name'}}
	</div>
	<div class="wds-avatar-stack__overflow">+12</div>
</div>
	{{/component-demo}}
</section>
