<h1>Buttons</h1>
<p>
  Buttons provide a way for users to interact with our applications.
  They can contain text, icons, or both and come in three different sizes: standard, squished, and stretched.
  To help with the CTA hierarchy on a screen buttons can be displayed as primary (filled), secondary (outlined),
  or just text (no container). Choosing the right button style ties directly to the importance of it in relation
  to the content around it on the screen.
</p>
<p>
  The HTML <code>&lt;button&gt;</code> element represents a clickable button.
  It provides a way for a user to interact with the application. Add <code class="format-code">.wds-button</code>
  class to apply Fandom Design System styling. This results with a default Primary button.
  There are two more base variants: Secondary and Text.
</p>
<p>
  Passing additional <code>disabled</code> attribute will change button"s styling and functionality.
  This Boolean attribute indicates that the user cannot interact with the button.
  Other
  <a
    href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#Attributes"
  >
    valid HTML attributes
  </a> may be passed as well.
</p>
<p>
  Buttons can contain icons with text.
</p>

<section>
  <h2 id="primary">Primary buttons</h2>
  <p>Default version for general use.</p>
  <Demo @name="buttons">
    <Button>Primary button</Button>
    <Button>
      <Icon @name="fandom-heart" @size="small" />
      <span>Primary button</span>
    </Button>
    <Button disabled>Primary disabled</Button>
  </Demo>

  <h2>Parameters</h2>
  <div>
    <h3>HBS Properties</h3>
    <ul>
      <li><strong>disabled</strong> (bool): whether button should be disabled or not</li>
      <li><strong>secondary</strong> (bool): whether button should be secondary or not</li>
      <li><strong>text</strong> (bool): whether button should be of type text or not</li>
      <li><strong>square</strong> (bool): whether button should be square or not</li>
      <li><strong>class</strong> (string): additional class names</li>
    </ul>
  </div>
  <div>
    <h3>HTML Attributes/CSS Classes</h3>
    <ul>
      <li><strong>wds-is-secondary</strong>: whether button should be secondary or not</li>
      <li><strong>wds-is-text</strong>: whether button should be of type text or not</li>
    </ul>
  </div>
</section>

<section>
  <h2 id="secondary">Secondary buttons</h2>
  <p>
    Adding class <code class="format-code">.wds-is-secondary</code> changes the button"s looks.
    It is used to create a button that draws less user"s attention.
  </p>
  <Demo @name="buttons-secondary">
    <Button @secondary={{true}}>Secondary button</Button>
    <Button @secondary={{true}}>
      <Icon @name="fandom-heart" @size="small" />
      <span>Secondary button</span>
    </Button>
    <Button @secondary={{true}} disabled>Secondary disabled</Button>
  </Demo>
</section>

<section>
  <h2 id="dropdown">Dropdown button</h2>
  <p>Adding <code class="format-code">.wds-dropdown</code> class and dropdown component inside button component will result in dropdown hidden behind a button</p>
  <p>
    *For dropdown properties see dropdown reference page.
  </p>

  <Demo @name="dropdown-buttons">
    <Dropdown as |dropdown|>
      <dropdown.toggle as |Chevron|>
        <Button><span>Dropdown</span> <Chevron /></Button>
      </dropdown.toggle>
      <dropdown.content>
        <List>
          <li>List item 1</li>
          <li>List item 2</li>
          <li>List item 3</li>
          <li>List item 4</li>
          <li>List item 5</li>
          <li>List item 6</li>
          <li>List item 7</li>
          <li>List item 8</li>
          <li>List item 9</li>
          <li>List item 10</li>
        </List>
      </dropdown.content>
    </Dropdown>

    <Dropdown as |dropdown|>
      <dropdown.toggle as |Chevron|>
        <Button>
          <Icon @name="fandom-heart" @size="small" />
          <span>Dropdown</span>
          <Chevron />
        </Button>
      </dropdown.toggle>
      <dropdown.content>
        <List>
          <li>List item 1</li>
          <li>List item 2</li>
          <li>List item 3</li>
        </List>
      </dropdown.content>
    </Dropdown>

    <Dropdown as |dropdown|>
      <dropdown.toggle as |Chevron|>
        <Button @secondary={{true}}><span>Dropdown</span><Chevron /></Button>
      </dropdown.toggle>
      <dropdown.content>
        <List>
          <li>List item 1</li>
          <li>List item 2</li>
          <li>List item 3</li>
        </List>
      </dropdown.content>
    </Dropdown>
  </Demo>
</section>

<section>
  <h2 id="text">Text buttons</h2>
  <p>
    These buttons are denoted with <code class="format-code">.wds-is-text</code> class.
    They are the least obtrusive.
    Nevertheless, their paddings remain untouched, which provides the same clickable area.
  </p>
  <Demo @name="text-buttons">
    <Button @text={{true}}>Text button</Button>
    <Button @text={{true}}>
      <Icon @name="fandom-heart" @size="small" />
      <span>Text button</span>
    </Button>
    <Button @text={{true}} disabled>Text disabled</Button>
  </Demo>
</section>

<section>
  <h2 id="sizes:square">Button sizes: square</h2>
  <p>
    For a fixed size square button use <code class="format-code">.wds-is-square</code> class.
    This button will be 45px x 45px with content centered inside.
    This type of button is mostly used for icons, example: social icons.
  </p>
  <Demo @name="button-square">
    <Button @square={{true}} class="wds-is-facebook-color"><Icon @name="facebook" /></Button>
    <Button @square={{true}} class="wds-is-nk-color"><Icon @name="nk" /></Button>
  </Demo>
</section>

<section>
  <h2 id="other:multiline">Other usages: multiline button</h2>
  <p>Button labels can wrap to multiple lines.</p>
  <Demo @name="multiline-button">
    <Button class="fixed-width-140px">Multiline button label with 3rd line</Button>
    <Button class="fixed-width-140px">
      <Icon @name="fandom-heart" @size="small" />
      <span>Multiline button label</span>
    </Button>
  </Demo>
</section>

<section>
  <h2 id="other:link">Other usages: link button</h2>
  <p>
    When no special handlers of the click event are needed — just navigation to a certain URL,
    consider using an anchor tag <code>&lt;a&gt;</code> styled as a button.
    It is achieved by adding a <code class="format-code">.wds-button</code>
    class just like for the <code>&lt;button&gt;</code> element. Optionally add any other desired button classes.
  </p>
  <Demo @name="link-buttons">
    <Button href="#">Link button</Button>
    <Button href="#">
      <Icon @name="fandom-heart" @size="small" />
      <span>Link button</span>
    </Button>
    <Button href="#" @secondary={{true}}>Secondary link button</Button>
  </Demo>
</section>

<section class="button-theming">
  <h2 id="theming">Theming</h2>
  <p>
    Theming can be applied to buttons by <code class="format-code">button-theming</code> mixin.
    For basic usage, mixin takes two parameters: primary-background-color and prmary-text-color:
  </p>
  <Demo @name="button-theming-scss" @language="scss" @codeOnly={{true}}>
    .wds-button {
      @include button-theming($wds-color-dark-blue, $wds-color-white);
    }
  </Demo>

  <Demo @name="buttons-theming">
    <Button class="primary-only">Primary</Button>
    <Button class="primary-only">
      <Icon @name="fandom-heart" @size="small" />
      <span>Primary button</span>
    </Button>

    <Dropdown as |dropdown|>
      <dropdown.toggle as |Chevron|>
        <Button class="primary-only"><span>Dropdown</span><Chevron /></Button>
      </dropdown.toggle>
      <dropdown.content>
        <List>
          <li>List item 1</li>
          <li>List item 2</li>
          <li>List item 3</li>
        </List>
      </dropdown.content>
    </Dropdown>
    <Button @secondary={{true}} class="primary-only">Secondary</Button>
    <Button text={{true}} class="primary-only">Text</Button>
  </Demo>

  <p>It is also possible to apply different color for secondary and text buttons than to primary ones:</p>
  <Demo @name="buttons-theming" language="sass">
    .wds-button {
      @include button-theming($wds-color-slate-gray, $wds-color-white, $wds-color-link);
    }
  </Demo>

  <Demo @name="buttons-theming-2">
    <Button class="different-secondary">Primary</Button>
    <Button class="different-secondary">
      <Icon @name="fandom-heart" @size="small" />
      <span>Primary button</span>
    </Button>

    <Dropdown as |dropdown|>
      <dropdown.toggle as |Chevron|>
        <Button class="different-secondary"><span>Dropdown</span><Chevron /></Button>
      </dropdown.toggle>
      <dropdown.content>
        <List>
          <li>List item 1</li>
          <li>List item 2</li>
          <li>List item 3</li>
        </List>
      </dropdown.content>
    </Dropdown>
    <Button @secondary={{true}} class="different-secondary">Secondary</Button>
    <Button @text={{true}} class="different-secondary">Text</Button>
  </Demo>
</section>

<section>
  <h2 id="group">Button group</h2>
  <p>Group a series of buttons together on a single line with the button group.</p>
  <p>Button group comes with no default styling of its own. Colors, sizes and animations are driven by buttons.</p>
  <p>Wrap a series of buttons with <code>.wds-button</code> in <code>.wds-button-group</code>.</p>
  <Demo @name="button-group-mix">
    <div class="wds-button-group">
      <Button>1</Button>
      <Button>2</Button>
      <Button @disabled={{true}}>3</Button>
      <Button>4</Button>
      <Button>5</Button>
    </div>
  </Demo>
  <p>Mixing primary, secondary and different sizes of buttons is not supported. All buttons have to be of the same type.</p>
  <Demo @name="button-group-mix">
    <div class="wds-button-group">
      <Button @secondary={{true}}>6</Button>
      <Button @secondary={{true}}>7</Button>
      <Button @disabled={{true}} @secondary={{true}}>8</Button>
      <Button @secondary={{true}}>9</Button>
      <Button @secondary={{true}}>10</Button>
    </div>
  </Demo>
</section>

<section class="button-group-icons-section">
  <h2 id="group:icons">Button group with icons</h2>

  <Demo @name="button-group-with-icons">
    <div class="wds-button-group white-theme">
      <Button @secondary={{true}}>
        <Icon @name="activity" @size="small" />
        <span>Activity</span>
      </Button>
      <Button @secondary={{true}}>
        <Icon @name="house" @size="small" />
      </Button>
      <Button @secondary={{true}}>
        <Icon @name="map" @size="small" />
      </Button>
    </div>
  </Demo>
</section>


<section class="button-group-dropdown-section">
  <h2 id="group:dropdowns">Button group with dropdown button</h2>
  <p>It is also possible to include dropdown button within button-group</p>
  <Demo @name="button-group-icons-in-dropdowns">
    <div class="wds-button-group">
      <Button>
        <Icon @name="pencil" @size="small" />
        <span>Edit</span>
      </Button>
      <Dropdown as |dropdown|>
        <dropdown.toggle as |Chevron|>
          <Button><Chevron /></Button>
        </dropdown.toggle>
        <dropdown.content>
          <List>
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
          </List>
        </dropdown.content>
      </Dropdown>
    </div>
  </Demo>
</section>
