<h1>Dialogs</h1>
<p>Dialog component is used when input from user is needed.</p>

<h2>Parameters</h2>
<div>
  <h3>HBS Properties</h3>
  <ul>
    <li><strong>title</strong> (string): Title of a dialog</li>
    <li><strong>onOk</strong> (action): action fired when OK is clicked</li>
    <li><strong>onCancel</strong> (action): action fired when Cancel is clicked or click happens outside dialog. This action recieves a parameter specifying if "curtain" or "button" was clicked to cancel the dialog.</li>
    <li><strong>okText</strong> (string): text to display as an OK option - defaults to "OK"</li>
    <li><strong>cancelText</strong> (string): text to display as an Cancel option - defaults to "Cancel"</li>
  </ul>
</div>

<h2>Default</h2>

<Button @click={{action (mut showDialog) true}}>Open Dialog</Button>

{{#if showDialog}}
  <Dialog
    @title="Title"
    @onOk={{action "onOk" "showDialog"}}
    @onCancel={{action "onCancel" "showDialog"}}
  >
    Oops, something went wrong! The action you were trying to complete encountered an error and could not be processed. Please try again.
  </Dialog>
{{/if}}

<Demo @name="dialog" @codeOnly={{true}}>
  <Dialog
    @title="Title"
    @onOk={{action "onOk"}}
    @onCancel={{action "onCancel"}}
  >
    Oops, something went wrong! The action you were trying to complete encountered an error and could not be processed. Please try again.
  </Dialog>
</Demo>

<h2>Usecase with no title</h2>

<Button @click={{action (mut showDialogNoTitle) true}}>Open Dialog - no title</Button>

{{#if showDialogNoTitle}}
  <Dialog
    @onOk={{action "onOk" "showDialogNoTitle"}}
    @onCancel={{action "onCancel" "showDialogNoTitle"}}
  >
    Oops, something went wrong! The action you were trying to complete encountered an error and could not be processed. Please try again.
  </Dialog>
{{/if}}

<Demo @name="dialog-2" @codeOnly={{true}}>
  <Dialog
    @onOk={{action "onOk"}}
    @onCancel={{action "onCancel"}}
  >
    Oops, something went wrong! The action you were trying to complete encountered an error and could not be processed. Please try again.
  </Dialog>
</Demo>

<h2>Usecase with custom action texts</h2>

<Button @click={{action (mut showDialogCustomActionText) true}}>Open Dialog - custom action texts</Button>

{{#if showDialogCustomActionText}}
  <Dialog
    @title="Title"
    @onOk={{action "onOk" "showDialogCustomActionText"}}
    @onCancel={{action "onCancel" "showDialogCustomActionText"}}
    @okText="Yes"
    @cancelText="No"
  >
    Oops, something went wrong! The action you were trying to complete encountered an error and could not be processed. Please try again.
  </Dialog>
{{/if}}

<Demo @name="dialog-3" @codeOnly={{true}}>
  <Dialog
    @title="Title"
    @onOk={{action "onOk"}}
    @onCancel={{action "onCancel"}}
    @okText="Yes"
    @cancelText="No"
  >
    Oops, something went wrong! The action you were trying to complete encountered an error and could not be processed. Please try again.
  </Dialog>
</Demo>


