<h1>Inputs</h1>
<p>
  Currently Design System supports textarea fields only.
</p>

<section>
  <h2>Textarea</h2>
  <Demo @name="textarea">
    <Textarea
      @value={{initialValue}}
      @placeholder="Placeholder"
      @hint="Example hint"
      @maxlength={{1000}}
    />
  </Demo>
</section>

<section>
  <h2>Textarea with length hint</h2>
  <Demo @name="textarea-with-length-hint">
    <Textarea
      @value={{initialValue}}
      @placeholder="Placeholder"
      @hasLengthHint={{true}}
      @hint="Example hint"
      @maxlength={{1000}}
    />
  </Demo>
</section>

<section>
  <h2>Textarea with event handlers</h2>
  <Demo @name="textarea-with-event-handlers">
    <Textarea
      @value={{initialValue}}
      @placeholder="Placeholder"
      @hint="Example hint"
      @input={{action "input"}}
      @focus-in={{action "focusIn"}}
      @focus-out={{action "focusOut"}}
    />
  </Demo>
</section>

<section>
  <h2>Textarea error state</h2>
  <Demo @name="textarea-error-state">
    <Textarea
      @value={{initialValue}}
      @placeholder="Placeholder"
      @hint="Example hint"
      @hasError={{true}}
    />
  </Demo>
</section>

<section>
  <h2>Disabled textarea</h2>
  <Demo @name="textarea-disabled">
    <Textarea
      @value={{initialValue}}
      @placeholder="Placeholder"
      @hint="Example hint"
      @disabled={{true}}
    />
  </Demo>
</section>
