<h2>Icons</h2>
{{wds-icon name='alert'}}
{{wds-icon name='arrow'}}
{{wds-icon name='bell'}}
{{wds-icon name='bold'}}
{{wds-icon name='bookmark'}}
{{wds-icon name='bullet-list'}}
{{wds-icon name='camera'}}
{{wds-icon name='checkbox'}}
{{wds-icon name='checkmark'}}
{{wds-icon name='checkmark-circle'}}
{{wds-icon name='clipboard'}}
{{wds-icon name='community'}}
{{wds-icon name='controls'}}
{{wds-icon name='cross'}}
{{wds-icon name='document'}}
{{wds-icon name='dropdown'}}
{{wds-icon name='eye'}}
{{wds-icon name='eye-crossed'}}
{{wds-icon name='flag'}}
{{wds-icon name='gear'}}
{{wds-icon name='gift'}}
{{wds-icon name='grid'}}
{{wds-icon name='help'}}
{{wds-icon name='house'}}
{{wds-icon name='image'}}
{{wds-icon name='image-add'}}
{{wds-icon name='image-remove'}}
{{wds-icon name='information'}}
{{wds-icon name='italics'}}
{{wds-icon name='link'}}
{{wds-icon name='loading'}}
{{wds-icon name='lock'}}
{{wds-icon name='magnifying-glass'}}
{{wds-icon name='mail'}}
{{wds-icon name='map'}}
{{wds-icon name='menu'}}
{{wds-icon name='menu-control'}}
{{wds-icon name='more'}}
{{wds-icon name='note'}}
{{wds-icon name='numbered-list'}}
{{wds-icon name='page'}}
{{wds-icon name='pencil'}}
{{wds-icon name='play'}}
{{wds-icon name='plus'}}
{{wds-icon name='question'}}
{{wds-icon name='quote'}}
{{wds-icon name='refresh'}}
{{wds-icon name='reply'}}
{{wds-icon name='reply-arrow'}}
{{wds-icon name='share'}}
{{wds-icon name='text'}}
{{wds-icon name='trash'}}
{{wds-icon name='trash-open'}}
{{wds-icon name='undo'}}
{{wds-icon name='unlock'}}
{{wds-icon name='upload'}}
{{wds-icon name='upvote'}}
{{wds-icon name='user'}}
{{wds-icon name='video-camera'}}

<h2>Company assets</h2>
{{svg-asset name='company-logo-fandom'}}
{{svg-asset name='company-logo-fandom-heart'}}
{{svg-asset name='company-logo-fandom-powered-by-wikia'}}
{{svg-asset name='company-logo-fandom-powered-by-wikia-two-lines'}}
{{svg-asset name='company-logo-powered-by-wikia'}}
{{svg-asset name='company-logo-wikia'}}

<h2>TODO Mobile apps but in company?</h2>
{{svg-asset name='company-store-appstore'}}
{{svg-asset name='company-store-googleplay'}}
